html {
  background-color: #ffffff;
}
#root {
  background-color: #ffffff;
}

.black-nav {
  display: flex;
  justify-content: space-between;
  background: black;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 25px;
}

.box {
  align-self: center;
  display: flex;
  text-align: center;
}

.authbox {
  width: 6.5rem;
  height: 2.5rem;
  font-size: 20px;
  border-radius: 0.8rem;
  line-height: 2.5rem;
  display: inline-block;
  background-color: gray;
  color: white;
  align-items: center;
  border: 0.1rem solid black;
  margin-right: 1rem;
  text-decoration: none;
  justify-content: space-between;
}
