.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.black-nav {
  background: black;
  width: 100%;
  display: flex;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 25px;
}

.box {
  align-self: center;
  text-align: center;
}

.authbox {
  width: 8rem;
  height: 3rem;
  line-height: 130px;
  border-radius: 0.8rem;
  display: inline-block;
  text-align: center;
  background-color: gray;
  color: white;
  align-items: center;
  border: 0.1rem solid white;
  margin: 7rem;
  text-decoration: none;
}