html {
  background-color: #ffffff;
}
#root {
  background-color: #ffffff;
}

.black-nav {
  display: flex;
  justify-content: space-between;
  background: black;
  display: flex;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
}

.box {
  align-self: center;
  display: flex;
  text-align: center;
}

.authbox {
  width: 7.5rem;
  height: 2rem;
  font-size: 17px;
  border-radius: 0.3rem;
  line-height: 2rem;
  display: inline-block;
  background-color: #E9E9E9;
  color: black;
  align-items: center;
  margin-right: 1rem;
  text-decoration: none;
  justify-content: space-between;
}
